<ion-header>
  <ion-toolbar *ngIf="this.dispositivoId != null">
    <ion-buttons slot="start">
      <ion-button routerLink="/">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>     
    <ion-title >Sensor {{this.dispositivoId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div id="highcharts_{{this.dispositivoId}}" style="width:100%; height:300px;"></div>
    <div>
      <ion-button *ngIf="this.apertura">Cerrar electroválvula {{this.electrovalvulaNombre}}</ion-button>
      <ion-button *ngIf="!this.apertura">Abrir electroválvula {{this.electrovalvulaNombre}}</ion-button>
    </div>

    <div><ion-button routerLink="/dispositivo/{{this.dispositivoId}}/medicion">Ver todas las mediciones</ion-button></div>
    <div><ion-button routerLink="/dispositivo/{{this.dispositivoId}}/riego">Ver todos los riegos</ion-button></div>    
  </ion-card>
</ion-content>
