<ion-header>
  <ion-toolbar *ngIf="this.mediciones != null">
    <ion-buttons slot="start">
      <ion-button routerLink="/dispositivo">
        <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>

      <ion-button routerLink="/dispositivo/{{mediciones[0].dispositivoId}}/sensor">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>     
    <ion-title >Mediciones Sensor {{mediciones[0].dispositivoId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="this.mediciones == null" >
    Cargando mediciones...
 </div>
 <div *ngIf="this.mediciones != null" >


  <table border="1" >
    <tr>
      <th>
        Fecha
      </th>
      <th>
        Valor
      </th>
      <th>
        ElectrovalvulaId 
      </th>
    </tr>
    <tr appHighlight medicion={{medicion.valor}} *ngFor="let medicion of this.mediciones">
      <td >
        {{medicion.fecha}}
      </td>
      <td >
        {{medicion.valor}}
      </td>
      <td >
        {{medicion.electrovalvulaId}}
      </td>
    </tr>
  </table>
 </div>
</ion-content>
